.logo {
    font-family: Raleway, sans-serif;
    width: 145px;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
}

.logo-accent {
    color: var(--primary-text-color);
    padding-top: 24px;
    padding-bottom: 25px;
}